.listEntry {
  padding:10px
  display:block;
  width:100%;
  margin: 0 auto;
}

.liDivName {
  font-weight: bold;
  font-size: 18px;
  display:block;
  width:100%;
  margin: 0 auto;
}
.liDivText {
  font-size: 15px;
  display:block;
  width:100%;
  margin: 0 auto;
}
ul {
  list-style:none;
  display:block;
  width:90%;
  margin:0 auto;
}
#formText {
  padding:20px;
}
#name {
  margin-top:50px;
}
button {
  padding:10px;
}
.col-sm-4 {
  margin-top:10px;
}
